@page "/userinfo"


<h5>UserInfo</h5>
<hr />

@if (@UserStateProvider.ClientId != "no login")
{
<ul class="collection with-header">
    <li class="collection-item"><div><i class="material-icons">done</i> <b> ClientIdentityProvider</b> : @UserStateProvider.ClientIdentityProvider</div></li>
    <li class="collection-item"><div><i class="material-icons">done</i> <b> ClientUserDetails</b> : @UserStateProvider.ClientUserDetails</div></li>
    <li class="collection-item"><div><i class="material-icons">done</i> <b> ClientUserRoles</b> : 
        @if (@UserStateProvider.ClientUserRoles != null)
        {
            int len = UserStateProvider.ClientUserRoles.Count();
            @for (int idx = 0; idx < len; idx++)
            {
                @if(idx == len - 1){
                    <span>@UserStateProvider.ClientUserRoles[@idx]</span>
                }
                else
                {
                    <span>@UserStateProvider.ClientUserRoles[@idx], </span>
                }
            }
        }
        else
        {
            <span>N/A</span>
        }
    </div></li>
</ul>
}
else
{
    <div><a href="/login/aad">Please log in through AAD</a></div>
}
<hr />


@code {
    [CascadingParameter]
    private UserStateProvider UserStateProvider { get; set; }
}
